* {
    box-sizing: border-box;
  }
  html {
    margin: 0;
    background-color: #222;
  }
  footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #664848;
   color: white;
   text-align: center;
   font-family: 'Muli', sans-serif;
  }

  h1{
      color: #f2f2f2;
      font-family: 'Muli', sans-serif;
      text-align: center;
      font-size: 50px;
  }
  h2{
    font-family: 'Muli', sans-serif;
    color: #f2f2f2;
    font-size: 35px;
  }
#B
{
    color: black;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}
.tekst{
    color: #f2f2f2;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}
p{
    color: #f2f2f2;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}
.polska{
    font-family: 'Muli', sans-serif;
    color: red;
    text-align: center;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #664848;
}

li {
    float: left;
    background-color: #664848;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        font-size: 20px;
    }
        .active {
            background-color: #222;
            }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: #f2f2f2;
            color: black;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #664848;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Muli', sans-serif;
    font-size: 20px;

}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #f2f2f2;
    }

        .dropdown-content a:hover {
            background-color: #f2f2f2;
            color: black;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
 
 
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width:1200px) 
  {
    .column {
      width: 100%;
    }
    img.picture{
        display:none;
    }
  }